<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      /* ====== DEFAULT ====== */
      * {
        box-sizing: border-box;
      }

      body {
        font-size: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background: #E5E5E5;
      }

      a, a:visited{
        text-decoration: none;
        font-weight: 300;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">{{content}}</div>
  </body>
</html>
